<div class="landing-items-container">
    <div class="info-container">
        <h2>Submit disability</h2>
        <div class="info-body">
            Let us know what is wrong in your area and with your loved ones.
            <br><br>
            Information from all over the world, straight from the source.
            <br><br>
            It takes one just click to make an impact.
        </div>
        <a class="button" href="/submit"></span> Contribute  <span class="icon fa-arrow-circle-o-right"></a>
    </div>
    <div class="info-container">
        <h2>Visit our API</h2>
        <div class="info-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <a class="button" href="/api/bangladesh">Develop <span class="icon fa-arrow-circle-o-right"></a>
    </div>
    <div class="info-container">
        <h2>Explore our Dashboard</h2>
        <div class="info-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <a class="button" href="/dashboard">Explore <span class="icon fa-arrow-circle-o-right"></a>
    </div>
</div>

