<div class="landing-items-container">
    <div class="info-container">
        <h2>Submit disability</h2>
        <div class="info-body">
            Let us know what is wrong in your area and with your loved ones.
            <br><br>
            Information from all over the world, straight from the source.
            <br><br>
            It takes one just click to make an impact.
        </div>
        <a class="button" href="/submit"></span> Contribute  <span class="icon fa-arrow-circle-o-right"></a>
    </div>
    <div class="info-container">
        <h2>Visit our API</h2>
        <div class="info-body">
            The data found on the website is directly sourced by the sufferers of
            disabilities themselves, which provides a detailed overview of the issues
            that affect their lives. The methods of data extraction are the following:
            SMS, a call service that allows people that are illiterate to contribute and
            an online form.
            The data is open source so everyone can access it and try to make a difference.
        </div>
        <a class="button" href="/api/bangladesh">Develop <span class="icon fa-arrow-circle-o-right"></a>
    </div>
    <div class="info-container">
        <h2>Explore our Dashboard</h2>
        <div class="info-body">
            Collecting data is extremely important but it is useless if it can't be presented
            in a way such as we can recognise patterns in it and get the information we need.
            The dashboard provided by our service uses industry standard representation and
            visualization methods in order to make the most out of the data collected and provide
            a powerful tool in order to change the world for the better.

        </div>
        <a class="button" href="/dashboard">Explore <span class="icon fa-arrow-circle-o-right"></a>
    </div>
</div>

