	<!-- Problem Form -->
	<div style="text-align:center;">
		<form id="problem-form" method="post" action="#">
			<table style="width: 100%; height: 100%;">
				<tr>
					<td>
						<input type="text" name="First name" id="firstname" placeholder="First name" /><br/>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<input type="text" name="Last name" id="lastname" placeholder="Last name" /><br/>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<input type="text" name="Country" id="country" placeholder="Country" /><br/>
					</td>
					<td rowspan="3" align="left">
						<h1>Or Text<span  style="color: #ff9900;">|</span>Call Us <br />+441597800020</h1>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="Location" id="location" placeholder="Location" /><br/>
					</td>
				</tr>
				<tr>
					<td>
						<input type="email" name="First name" id="email" placeholder="Email Address" /><br/>
					</td>
				</tr>
				<tr>
					<td style="width: 50%;">
						<textarea rows="4" cols="50" placeholder="Problem"></textarea> 					
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<br/><br/><br/><input type="submit" value="Let us know" /><br/>
					</td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>