<div id="form-container">
	<div class="one-third">
		<input type="text" name="FirstName" id="firstname" placeholder="First name" /><br/>
		<input type="text" name="LastName" id="lastname" placeholder="Last name" /><br/>
		<input type="text" name="Location" id="location" placeholder="Location" /><br/>
		<input type="text" name="Categories" id="location" placeholder="Categories" /><br/>
	</div>
	<div class="one-third">
	<textarea rows="4" cols="50" placeholder="Problem"></textarea> 
	</div>	
	<div class="one-third">
		<h3>Or Text US at 
		<br>
		<span style="color:orange;">004407459877051</span></h3>
	</div>	

	<br/><br/><input type="submit" value="Let us know" />

	<p>Make Others Aware - </p><div class="share-icon icon fa-facebook"></div><div class="share-icon icon fa-twitter"></div>

	<br/>
</div>


