img#addLogo {
    opacity: 0.775;
    height: 27px;
    display: inline-block;
    margin: 10px;
    margin-bottom: -8px;
}
p{
    display:inline-block;
}
div#subtitile {
    display: inline-block;
    float: right;
}
#header{
    position:relative;
    top:-250px;
    max-width: 500px;
}